@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
}

:root {
  background-color: #ffffff;
  color: #1a1a1a;
  font-family: 'JetBrains Mono', monospace;
}


/* Minimalist scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}