@import "tailwindcss";

@keyframes spin3d {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.java-flip-container {
  animation: spin3d 4s infinite linear;
  will-change: transform;
}
